[submodule "clang-funcSpy"]
	path = clang-funcSpy
	url = http://giteaz:3000/app_spy/clang-funcSpy.git
[submodule "pytorch"]
	path = pytorch
	url = https://13064570402:9o9o9o90@gitee.com/ml_work/pytorch.git
[submodule "cmd-wrap"]
	path = cmd-wrap
	url = http://giteaz:3000/bal/cmd-wrap.git
[submodule "script_basic"]
	path = script_basic
	url = http://prgrmz07:PRGRMZ07@giteaz:3000/bal/script_basic.git
[submodule "bash-simplify"]
	path = bash-simplify
	url = http://prgrmz07:PRGRMZ07@giteaz:3000/bal/bash-simplify.git
